/* css for the main template */
body{
	font-family: 'Gotham SSm A','Gotham SSm B', 'fjalla_oneregular', sans-serif;
	font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
	color:white;
}
#body .row{
   width: auto;
   margin-left: auto;
   margin-right: auto;
}
body .inner {
    position: relative;
    z-index: 2;
    padding-bottom: 6%;
    padding-top: 6%;
}
#logo{
	padding-right:10px;
}

div .column {
         max-width:300px;
		 margin:auto;
}

#body  h2{
	font-size: 4em;
	line-height: 1.05em;
	margin-bottom: 1em;
	margin-top: 0.4em;
	color: purple;
	font-weight: 700;
	letter-spacing: -0.02em
}

#content{
	padding-top:20px;
	height: 70vh;
	overflow-x:scroll;
	border-top: 1px solid purple;
	z-index:4;
	width:100%;
	background-color:ghostwhite;
}
#content h3{
	color:purple;
}
#content h3 small{
	color:lightblue;
}
#contain{
	max-width:850px;
}
