/* css for the main template */
body{
	font-family: 'fjalla_oneregular', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
	color:white;
}
#body .row{
   width: auto;
   margin-left: auto;
   margin-right: auto;
}

@media screen and (min-width: 60.063rem){
	#body .row{
		min-width:700px;
	}
}
#content{
	padding-top:20px;
	height: 70vh;
	overflow-x:scroll;
	border-top: 1px solid purple;
	z-index:4;
}
#content h3{
	color:purple;
}
#content h3 small{
	color:lightblue;
}
#contain{
	max-width:850px;
}
