#top-bar{
	background-color:purple;
	overflow:hidden;
}
#top-bar a{
    background: purple;
}
#top-bar #buttons a:hover { 
    background-color: white;
    color: purple;
}
#nav-bar{
	background-color:white;
}

#nav-bar a{
    background: white;
}
#nav-bar a:hover { 
    background-color: purple;
    color: white;
}
#menu{
	background:purple !important;
	color:white;
}	
.top-bar .title-area {
    background: purple !important;
}
#nav-bar .top-bar-section ul li> a {
    background: white;
    color: purple;
}
#nav-bar .top-bar-section ul li> a:hover {
    background: purple;
    color: white;
}
#nav-bar .top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
    color: purple;
    display: block;
    background: white;
}
#current{
	color:cornflowerblue;
}
@media only screen and (min-width: 40.063em) { 
	#nav-bar{
		text-align:center;
	}
	#nav-bar section{
		display: inline-block;
	}
}

@media only screen and (min-width:90.063em){ 
	#top-bar .title-area{	
		margin-left:15%;
	}
	#top-bar .right{	
		margin-right:15%;
	}
}
