/* css for the top bar template */
#top-bar {
    background: purple;
	overflow:hidden;
}
#top-bar a{
	background: purple;
	max-width:120px;
}

#top-bar a:hover { 
    background-color: white;
	color: purple;
}
#top-bar #buttons a:hover { 
    background-color: white;
	color: purple;
}

#logo{
	background-color:white;
}

#nav-bar{
	background: white;
	overflow: visible;
}

#nav-bar .title-area{
	top:25px;
}
#nav-bar .title-area a{ 
	padding-right: 20px;
}
#drop{
	max-width:100px;
	overflow:visible;
}

#nav-bar a{
	background: white;
	color: purple;
}
#logo{
	margin-right:20px;
}
#menu{
	border-bottom:1px solid purple;
}

#buttons{
	display:none;
}
#menu:hover + #buttons {
	display: block; 
}
#buttons:hover{
	display:block;
}
#menu a:hover{
	background-color: purple;
	color: white;
}
#buttons a:hover { 
    background-color: purple;
	color: white;
}

#nav-bar section.top-bar-section {
	
}
#nav-bar .top-bar-section .right li .dropdown {
    right: auto;
}

#aboutSublist{
	display:none;
}
#aboutSublist li{
	background-color:white;
}
#aboutSublist li a{
	margin-left: 30px;
    width: auto;
}
#aboutSublist:hover{
	display:block;
}
#about:hover + #aboutSublist {
	display:block;
}

#toolsetSublist{
	display:none;
}
#toolsetSublist li{
	background-color:white;
}
#toolsetSublist li a{
	margin-left: 30px;
    width: auto;
}
#toolsetSublist:hover{
	display:block;
}
#toolset:hover + #toolsetSublist {
	display:block;
}




@media screen and (min-width: 40.063rem){
	#nav-bar section.top-bar-section {
		display: inline-block;
	}
	#buttons{
		display:block;
	}

}

@media screen and (min-width: 60.063rem){
	#top-bar{
	}
	#top-bar .right{
		margin-right: 10%;
	}
	#top-bar .title-area{
		margin-left: 10%;
			
	}
	#nav-bar{
		text-align:center;
	}

}
